@model IEnumerable<GettAdmin.Riders>

@{
    ViewBag.Title = "Index";
}

<h2>Riders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Make Order", "Create", new { id = item.RiderID, name = item.Name }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.RiderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RiderID })
        </td>
    </tr>
}

</table>
